.lists {
    width: 100%;
    height: 99vh;
    background-image: url('https://cdn.wallpapersafari.com/23/18/jsDT2a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}